.parallelogram {
    width: 100%; /* Usa una larghezza relativa */
    max-width: 1700px; /* Limita la larghezza massima */
    height: 30vh; /* Altezza relativa alla viewport */
    background-color: #b30000;
    position: relative;
    margin: 50px auto; /* Margine ridotto per schermi piccoli */
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.8s ease, transform 1.5s ease;
    transform: translateY(100px);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.parallelogram.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.part {
    height: 100%;
    width: 33.33%;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.part:hover {
    transform: scale(1.05);
}

.part1 {
    left: 0%;
}
.part2 {
    left: 33.33%;
}
.part3 {
    left: 66.66%;
}

.part.visible {
    transform: translateY(0);
}

/* MEDIA QUERIES */

/* Schermi piccoli (max-width: 1024px) */
@media (max-width: 1024px) {
    .parallelogram {
        height: 40vh; /* Aumenta l'altezza per schermi più piccoli */
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    }

    .part {
        width: 100%; /* Ogni "part" occupa tutta la larghezza */
        height: calc(100% / 3); /* Dividi l'altezza del contenitore */
        position: relative; /* Rimuovi il layout assoluto */
    }

    .part1 {
        left: 0;
    }

    .part2 {
        left: 0;
    }

    .part3 {
        left: 0;
    }
}

/* Schermi extra piccoli (max-width: 480px) */
@media (max-width: 480px) {
    .parallelogram {
        height: 50vh;
        clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    }

    .part {
        height: calc(100% / 3); /* Continua a occupare l'intera altezza */
    }
}
