/* Stile generale del footer */
.footer {
    background-color: #1a1a1a;
	height: 80px;
    padding: 20px; /* Riduce il padding per diminuire le dimensioni del footer */
    color: white;
    display: flex;
    align-items: flex-end; /* Allinea gli elementi verso il basso */
    position: relative;
}
/* Stile per i link "Home" e "Chi Siamo" */
.page-link {
    color: white; /* Colore del testo iniziale */
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px; /* Spazio t8 i link e le informazioni aziendali */
    display: block;
}
.page-link:hover {
    color: #8B0000; /* Cambia il colore al passaggio del mouse */
}

/* Icone social in basso a destra */
.social-icons {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.social-icons a img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
}
.social-icons a:hover img {
    transform: scale(1.2);
}	