table {
    position: absolute;
    top: 1300px; /* Posizione iniziale per schermi grandi */
    right: 100px;
    width: 700px; /* Larghezza fissa iniziale */
    border-collapse: collapse; /* Per uno stile tabella pulito */
    transition: all 0.3s ease; /* Transizioni fluide */
}

th, td {
    font-size: 18px;
    padding: 15px;
    text-align: center;
    width: 150px;
    word-break: break-word;
}

table tr:first-child {
    background-color: #f2f2f2; /* Grigio chiaro */
}

.table-container table tr {
    opacity: 0;
    transform: translateX(-100%); /* Sposta fuori dalla vista a sinistra */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Animazione fluida */
}

.table-container table tr.visible {
    opacity: 1;
    transform: translateX(0); /* Riporta la riga nella posizione originale */
}

/* Media Query per schermi piccoli */
@media (max-width: 1024px) {
    table {
		display: none;   
	}
}